*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradle.properties
settings.gradle
gradlew.bat
gradlew
app/.gitignore
.idea/runConfigurations.xml
.idea/misc.xml
.idea/gradle.xml
.idea/codeStyles/Project.xml
.idea/.name
app/src/test/java/learn/tk/learntk/ExampleUnitTest.java
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
app/src/androidTest/java/learn/tk/learntk/ExampleInstrumentedTest.java
